body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
    padding-top: 16px;
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    font-weight: bold;
    font-size: 24px;
    color:#f9faf8;

}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

button {
    padding: 8px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #3882f6;
    font-size: 14px;
    color: #f9faf8;
    font-weight: bold;
    text-decoration: none;
    border-radius: 7px;
    border: 0;
}
